<div class="chat-panel">
    <!-- Messages List -->
    <div class="message-list">
        <app-message 
          *ngFor="let message of messages" 
          [message]="message"
          (copyContent)="onCopyContent($event)"
          (downloadContent)="onDownloadContent($event)"
          (provideFeedback)="onProvideFeedback($event)">
        </app-message>
      </div>
  
    <!-- Message Input -->
    <!-- Replace the direct implementation with this -->
<app-user-question-input
(questionSubmit)="onQuestionSubmit($event)">
</app-user-question-input>
  </div>